.w-1 {
  width: 100px; }

.w-2 {
  width: 200px; }

.w-3 {
  width: 300px; }

.w-4 {
  width: 400px; }

.w-5 {
  width: 500px; }

.box {
  height: 600px;
  width: 600px;
  padding-bottom: 15px; }

header {
  background-color: rgba(210, 180, 140, 0.645); }

.navbar {
  font-weight: bold; }

.menuhamb {
  opacity: 100; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center; }

.hamburguesa {
  display: flex;
  justify-content: end !important; }

.imglogo {
  height: 125px;
  padding: 0%;
  margin: 0%; }

.menuhamb {
  display: flex;
  justify-content: center; }

.hamburguesa {
  display: flex;
  justify-content: end !important; }

.busqueda {
  height: 35px;
  display: flex;
  align-self: center; }

@media only screen and (max-width: 768px) {
  .fixedt {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030; }
  .menuhamb {
    background-color: rosybrown;
    opacity: 0.75 !important; }
  .busqueda {
    margin-bottom: 10px; }
  .imgindex {
    display: flex;
    justify-content: center;
    align-items: center; }
  .imglogo {
    height: 90px;
    padding: 0%;
    margin: 0%; }
  .titcolor {
    font-size: 30px !important; } }

main {
  background-color: burlywood;
  padding-bottom: 20px; }

.titcolor {
  font-size: 75px;
  color: #50280b;
  padding: 30px;
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
  font-style: italic; }

img {
  padding: 10px;
  margin-bottom: 5px; }

.tablecss {
  text-align: center;
  border-collapse: separate;
  border-color: black; }
  .tablecss thead tr th {
    background-color: gray;
    color: black;
    font-size: 1.3rem; }
  .tablecss > thead,
  .tablecss > tbody {
    border-width: 10px !important; }
    .tablecss > thead > tr:hover,
    .tablecss > tbody > tr:hover {
      background-color: aquamarine; }
    .tablecss > thead > tr th,
    .tablecss > thead > tr td,
    .tablecss > tbody > tr th,
    .tablecss > tbody > tr td {
      padding: 10px; }

.table {
  width: 50%; }

.detpro {
  justify-content: flex-end !important; }

.detallespro {
  justify-content: flex-start !important; }

.estructuraform,
.estructuraform2 {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  padding: 10px;
  width: 10%; }

.textbox {
  margin-bottom: 15px;
  height: 40px;
  width: 300px; }

@media only screen and (max-width: 768px) {
  .detpro {
    justify-content: center !important; }
  .detallespro {
    justify-content: center !important; } }

footer {
  background-color: rgba(210, 180, 140, 0.645); }

.footimg {
  height: 75px; }

.centrar {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center; }

* {
  flex-wrap: wrap; }
