.box {
  height: 600px;
  width: 600px;
  padding-bottom: 15px; }

.centrar {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center; }

.titulo, .titcolor, h2 {
  font-size: 75px;
  padding: 25px;
  display: flex;
  justify-content: center; }

header {
  backdrop-filter: contrast(0.5); }

.inicio {
  font-size: 70px;
  color: black; }

.relieve {
  color: orange; }

.cartel {
  width: 100%; }

.verCarrito {
  cursor: pointer; }

.contador {
  display: flex;
  justify-content: center;
  color: yellowgreen; }

.imglogo {
  height: 125px;
  padding: 0%;
  margin: 0%; }

.barra {
  align-self: center; }

.botonbus {
  background-color: gray;
  width: 59px;
  height: 43px;
  align-self: flex-start; }

.textbox {
  margin-bottom: 15px;
  height: 43px;
  width: 450px; }

nav {
  align-items: center;
  justify-content: flex-end; }
  nav ul {
    display: flex;
    justify-content: end; }
    nav ul li {
      list-style: none;
      justify-content: space-between;
      font-family: 'Times New Roman'; }

.navegar {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.navg {
  padding: 18px;
  display: flex;
  align-items: center; }

.titcolor {
  color: white;
  font-style: italic; }

a {
  text-decoration: none;
  color: #0d6efd; }

@media only screen and (max-width: 768px) {
  .imglogo {
    height: 90px; }
  .titcolor {
    font-size: 30px; }
  .textbox {
    width: 289px;
    margin-left: 8px; }
  .botonbus {
    background-color: gray;
    width: 70px;
    height: 32px;
    margin-bottom: 25px;
    align-self: flex-start; }
  .navg {
    padding: 0px; }
  .navegar {
    padding-right: 11px; }
    .navegar ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .navegar ul li {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 16px;
        padding-left: 16px; } }

main {
  padding-bottom: 20px; }

.recordar {
  color: crimson; }

h5 {
  font-size: 27px;
  color: red; }

.titCart {
  font-size: 25px; }

.desCart {
  font-size: 21px; }

.imgCart {
  height: 100px; }

.margin {
  margin-left: 15px; }

.modalHeaderButton {
  background-color: #121212;
  cursor: pointer;
  width: 51px;
  height: 33px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.modalHeaderTitle {
  justify-self: start; }

.modalHeader {
  display: flex;
  justify-content: space-around;
  background-color: #0a0909;
  color: #fff;
  width: 100%; }

.modalContent > .modalContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px; }

.modalContent > div > img {
  height: 120px;
  width: 120px; }

.modalContent {
  width: 80%;
  margin: 0 10%;
  color: #fff;
  background-color: #121212;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  z-index: 9;
  top: 113px; }

#newAccount {
  margin-right: 10px; }

.modalContent::-webkit-scrollbar {
  display: none; }

.eliminar {
  background-color: #121212;
  cursor: pointer;
  width: 51px;
  height: 33px;
  margin-top: 10px; }

.importeTot {
  font-size: 45px;
  color: green; }

.pagar {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.btnCompra {
  background-color: gray;
  cursor: pointer;
  width: 93px;
  height: 33px;
  margin-bottom: 21px; }

.cantidadCart {
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 13px;
  padding: 4px;
  top: 37px;
  position: absolute;
  display: none; }

.totalContent {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px; }

.ver-carrito {
  justify-self: start;
  margin-left: 20px;
  color: #fff;
  margin-top: 76 px; }

.card {
  box-shadow: 0 4px 8px 0 black;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Times New Roman';
  font-style: italic;
  font-size: 25px;
  color: red; }

#contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px; }

.card > img {
  width: 90%;
  height: 250px; }

.price {
  color: cyan;
  font-size: 22px; }

.cardButton {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: black;
  text-align: center;
  width: 100%;
  font-size: 18px; }

.pass {
  font-size: 23px;
  margin-bottom: 5px;
  color: aqua; }

.caja {
  width: 200px; }

.check {
  width: 50px; }

label {
  backdrop-filter: contrast(0.5);
  color: chocolate; }

.titcolor {
  color: white !important;
  font-style: italic;
  text-decoration-line: underline; }

h2 {
  font-size: 50px;
  font-family: 'Courier New';
  justify-content: flex-start;
  color: chartreuse; }

.item {
  width: 14%; }

.tablecss {
  text-align: center;
  border-collapse: separate;
  backdrop-filter: contrast(0.5); }
  .tablecss thead tr th {
    font-size: 1.3rem; }
  .tablecss > thead,
  .tablecss > tbody {
    border-width: 10px !important; }
    .tablecss > thead > tr,
    .tablecss > tbody > tr {
      color: cyan; }
      .tablecss > thead > tr:hover,
      .tablecss > tbody > tr:hover {
        background-color: aliceblue;
        color: red; }
      .tablecss > thead > tr th,
      .tablecss > tbody > tr th {
        font-size: 20px;
        color: black; }
      .tablecss > thead > tr th,
      .tablecss > thead > tr td,
      .tablecss > tbody > tr th,
      .tablecss > tbody > tr td {
        padding: 10px; }

h3 {
  font-size: 45px;
  color: cyan; }

.table {
  width: 50%; }

.detpro {
  justify-content: flex-end;
  align-items: center;
  font-size: 60px; }

.detallespro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: white; }

.estructuraform,
.estructuraform2 {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  padding: 10px;
  width: 20%; }

.imgindex {
  justify-content: space-around; }

.bueno {
  color: green; }

.malo {
  color: orangered; }

.botonreg {
  align-self: center;
  width: 135px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px; }

.recomendacion {
  margin-top: 75px; }

p {
  font-size: 29px;
  backdrop-filter: contrast(0.5);
  color: cornsilk; }

@media only screen and (max-width: 768px) {
  .detpro {
    justify-content: center !important; }
  .detallespro {
    justify-content: center !important; }
  .redes {
    height: 80px;
    overflow-y: hidden; }
  h2 {
    font-size: 25px;
    color: chartreuse; }
  .botonreg {
    background-color: gray;
    align-self: center;
    width: 170px;
    height: 40px;
    margin-top: 65px; }
  .recomendacion {
    font-size: 31px; }
  .video {
    height: 355px; }
  p {
    font-size: 15px !important; }
  .estructuraform,
  .estructuraform2 {
    width: 100%; } }

footer {
  backdrop-filter: contrast(0.5); }

.footimg {
  height: 75px; }

h4 {
  font-size: 17px;
  color: aliceblue; }

.gridprincipal {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer" "res res res";
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: auto auto auto auto; }

.logoempresa {
  grid-area: logoh;
  align-items: flex-start;
  justify-content: start; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.buyBtn {
  background-color: gray;
  height: 30px;
  width: 60%;
  margin-top: 7px;
  margin-bottom: 15px; }

.gridheader {
  display: grid;
  grid-template-areas: "logoh logoh carro";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto; }

.gridfooter {
  display: grid;
  grid-template-areas: "logof horario tarjeta" "res res res";
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: auto auto; }

.barra {
  grid-area: busqueda; }

.copy {
  grid-area: res; }

.verCarrito {
  grid-area: carro;
  align-items: end;
  justify-content: end; }

@media only screen and (max-width: 768px) {
  .gridprincipal {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "header" "header" "header" "main" "main" "main" "main" "main" "main" "main" "main" "main" "main" "main" "footer" "footer" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; }
  header {
    grid-area: header; }
  .gridheader {
    display: grid;
    grid-template-areas: "logoh" "busqueda"  "carro";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .gridfooter {
    display: grid;
    grid-template-areas: "logof"  "horario"  "tarjeta" "res";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; } }

* {
  flex-wrap: wrap;
  padding: 0%;
  margin: 0%; }

body {
  background-image: url(../img/fondo.jpg); }
