.gridprincipal {
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
        "res res res";
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto auto auto auto;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


.gridheader {
    display: grid;
    grid-template-areas:
        "logoh busqueda nav";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.gridfooter {
    display: grid;
    grid-template-areas:
        "logof horario tarjeta"
        "res res res";
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto auto;
}

.logoempresa {
    grid-area: logoh;
}

.barra {
    grid-area: busqueda;
}
.copy{
    grid-area: res;
}
.navegar {
    grid-area: nav;

}

@media only screen and (max-width: 768px) {
    .gridprincipal {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:
            "header"
            "header"
            "header"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "footer"
            "footer"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    }

    header {
        grid-area: header;
    }

    .gridheader {
        display: grid;
        grid-template-areas:
            "logoh"
            "busqueda" 
            "nav";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }



    .gridfooter {
        display: grid;
        grid-template-areas:
            "logof" 
            "horario" 
            "tarjeta"
            "res";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
}