.gridprincipal {
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
        "res res res";
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto auto auto auto;
}

.gridInicio {
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
        "res res res";
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto auto auto auto;
}

.gridTarjeta1 {
    display: grid;
    grid-template-areas:
        "Desc1 Desc2 Desc3"
        "img1 img2 img3"
        "precio1 precio2 precio3"
        "btn1 btn2 btn3";
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto auto auto auto;
}

.gridTarjeta2 {
    display: grid;
    grid-template-areas:
        "Desc4 Desc5 Desc6"
        "img4 img5 img6"
        "precio4 precio5 precio6"
        "btn4 btn5 btn6";
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto auto auto auto;
}

.gridTarjeta3 {
    display: grid;
    grid-template-areas:
        "Desc7 Desc8 Desc9"
        "img7 img8 img9"
        "precio7 precio8 precio9"
        "btn7 btn8 btn9";
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto auto auto auto;
}

.gridIniHeader {
    display: grid;
    grid-template-areas:
        "logoh text text";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.logoempresa {
    grid-area: logoh;
}

header {
    grid-area: header;
}

.cartel{
    grid-area: text;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


.titulo1{
    grid-area: desc1;
}

.img1{
    grid-area: img1;
}

.precio1{
    grid-area: precio1;
}

.btn1{
    grid-area: btn1;
}

.titulo2{
    grid-area: desc1;
}

.img2{
    grid-area: img1;
}

.precio2{
    grid-area: precio1;
}

.btn2{
    grid-area: btn1;
}
.titulo3{
    grid-area: desc1;
}

.img3{
    grid-area: img1;
}

.precio3{
    grid-area: precio1;
}

.btn3{
    grid-area: btn1;
}
.titulo4{
    grid-area: desc1;
}

.img4{
    grid-area: img1;
}

.precio4{
    grid-area: precio1;
}

.btn4{
    grid-area: btn1;
}
.titulo5{
    grid-area: desc1;
}

.img5{
    grid-area: img1;
}

.precio5{
    grid-area: precio1;
}

.btn5{
    grid-area: btn1;
}
.titulo6{
    grid-area: desc1;
}

.img6{
    grid-area: img1;
}

.precio6{
    grid-area: precio1;
}

.btn6{
    grid-area: btn1;
}
.titulo7{
    grid-area: desc1;
}

.img7{
    grid-area: img1;
}

.precio7{
    grid-area: precio1;
}

.btn7{
    grid-area: btn1;
}
.titulo8{
    grid-area: desc1;
}

.img8{
    grid-area: img1;
}

.precio8{
    grid-area: precio1;
}

.btn8{
    grid-area: btn1;
}
.titulo9{
    grid-area: desc1;
}

.img9{
    grid-area: img1;
}

.precio9{
    grid-area: precio1;
}

.btn9{
    grid-area: btn1;
}





.gridheader {
    display: grid;
    grid-template-areas:
        "logoh busqueda nav";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.gridfooter {
    display: grid;
    grid-template-areas:
        "logof horario tarjeta"
        "res res res";
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto auto;
}



.barra {
    grid-area: busqueda;
}
.copy{
    grid-area: res;
}
.navegar {
    grid-area: nav;

}

@media only screen and (max-width: 768px) {
    .gridprincipal {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:
            "header"
            "header"
            "header"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "footer"
            "footer"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    }

    header {
        grid-area: header;
    }

    .gridheader {
        display: grid;
        grid-template-areas:
            "logoh"
            "busqueda" 
            "nav";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }



    .gridfooter {
        display: grid;
        grid-template-areas:
            "logof" 
            "horario" 
            "tarjeta"
            "res";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
}