header{
    backdrop-filter: contrast(0.5);
}

.imglogo {
    height: 125px;
    padding: 0%;
    margin: 0%;
}

.barra {
    align-self: center
}

.botonbus{
    background-color: gray;
    width: 59px;
    height: 43px;
    align-self: flex-start;
}

.textbox{
    margin-bottom: 15px;
    height: 43px;
    width: 450px;
}
nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    ul {
        display: flex;
        align-items: center;

        li {
            list-style: none;
            justify-content: space-between;
            font-family: 'Times New Roman';
            padding: 15px;
        }
    }
}

.titcolor {
    @extend .titulo;
    color: map-get($paletascolores, titulo) !important;
    font-style: italic;
}

@media only screen and (max-width: 768px) {

    .imglogo {
        height: 90px;
    }

    .titcolor {
        font-size: 30px !important;
    }

    nav ul li {
        padding: 1%;
    }

    .textbox {
        width: 289px !important;
        margin-left: 8px;
    }

    .botonbus{
        background-color: gray;
        width: 70px;
        height: 32px;
        margin-bottom: 25px;
        align-self: flex-start;
    }
}