header {
    background-color: map-get($paletascolores, bgcolor);
}

.navbar {
    background-color: map-get($paletascolores, bgcolor) !important;
}

.imglogo {
    height: 125px;
    padding: 0%;
    margin: 0%;
}

.titcolor{
@extend .titulo;
color: map-get($paletascolores, titulo) !important;
font-style: italic;
}

@media only screen and (max-width: 768px) {

    .busqueda {
        margin-bottom: 10px;
    }

    .imglogo {
        height: 90px;
        padding: 0%;
        margin: 0%;
    }

    .titcolor {
        font-size: 30px !important;
    }

}