main {
    padding-bottom: 20px;
}

label {
    backdrop-filter: contrast(0.5);
    color: map-get($paletascolores , lab);
}

.titcolor {
    @extend .titulo;
    color: map-get($paletascolores, titulo) !important;
    font-style: italic;
    text-decoration-line: underline;
}

h2 {
    @extend .titulo;
    font-size: 50px;
    font-family: 'Courier New';
    justify-content: flex-start;
    color: chartreuse;
}

img {
    padding: 10px;
    margin-bottom: 5px;
}

.tablecss {
    text-align: center;
    border-collapse: separate;
    border-color: map-get($paletascolores, letras);
    backdrop-filter: contrast(0.5);

    thead tr th {
        background-color: map-get($paletascolores, fondo);
        color: map-get($paletascolores, letras);
        font-size: 1.3rem;
    }

    >thead,
    >tbody {
        border-width: 10px !important;

        >tr {
            color: cyan;

            &:hover {
                background-color: map-get($paletascolores, suave);
                color: red;
            }

            th {
                font-size: 20px;
                background-color: map-get($paletascolores, fondo);
                color: black;
            }

            th,
            td {
                padding: 10px;
            }
        }
    }
}


h3 {
    font-size: 45px;
    color: map-get($paletascolores, titulo);
}

.table {
    width: 50%;
}

.detpro {
    justify-content: flex-end;
    align-items: center;
    font-size: 60px;
}

.detallespro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: map-get($paletascolores, titulo);
}

.estructuraform,
.estructuraform2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding: 10px;
    width: 20%;
}

.imgindex {
    justify-content: space-around;
}

.bueno {
    color: green;
}

.malo {
    color: orangered;
}

.botonreg {
    background-color: map-get($paletascolores, fondo);
    align-self: center;
    width: 135px;
    height: 40px;
    margin-top: 65px;
}

.recomendacion {
    margin-top: 75px;
}

p {
    font-size: 30px;
    backdrop-filter: contrast(0.5);
    color: cornsilk;
}

@media only screen and (max-width: 768px) {


    .detpro {
        justify-content: center !important;
    }

    .detallespro {
        justify-content: center !important;
    }

    .redes {
        height: 80px;
        overflow-y: hidden;
    }

    h2 {
        font-size: 25px;
        color:chartreuse;
    }

    .botonreg {
        background-color: gray;
        align-self: center;
        width: 170px;
        height: 40px;
        margin-top: 65px;
    }

    .recomendacion {
        font-size: 31px;
    }

    .video {
        height: 355px;
    }

    p {
        font-size: 15px !important;
    }

    .estructuraform,
    .estructuraform2 {
        width: 100%;
    }
}