main {
    background-color: $maincolor;
    padding-bottom: 20px;
}

.titcolor {
    font-size: 75px;
    color: rgb(80, 40, 11);
    padding: 30px;
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
    font-style: italic;
}

img {
    padding: 10px;
    margin-bottom: 5px;
}

.tablecss {
    text-align: center;
    border-collapse: separate;
    border-color: $letras;

    thead tr th {
        background-color: $fondo;
        color: $letras;
        font-size: 1.3rem;
    }

    >thead,
    >tbody {
        border-width: 10px !important;

        >tr {
            &:hover {
                background-color: $suave;
            }

            th,
            td {
                padding: 10px;
            }
        }
    }
}

.table {
    width: 50%;
}

.detpro {
    justify-content: flex-end !important;
}

.detallespro {
    justify-content: flex-start !important;
}

.estructuraform,
.estructuraform2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding: 10px;
    width: 10%;
}
.textbox {
    margin-bottom: 15px;
    height: 40px;
    width: 300px;
}

@media only screen and (max-width: 768px) {
    .detpro {
        justify-content: center !important;
    }

    .detallespro {
        justify-content: center !important;
    }
}