$paletascolores: (
    bgcolor:rgb(239, 205, 159),
    maincolor: burlywood,
    letras: black,
    fondo: gray,
    suave: aquamarine,
    titulo:rgb(80, 40, 11)
);

@for $wit from 1 through 5 {
    .w-#{$wit} {
        width: 100px * $wit;
    }
}

@mixin altura ($width, $height, $padb) {
    height: $height;
    width: $width;
    padding-bottom: $padb;
}

.box {
    @include altura(600px, 600px, 15px)
}

@mixin flex-center-none-items {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.centrar {
    @include flex-center-none-items;
}

.titulo {
    font-size: 75px;
    padding: 25px;
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
}
