@import "_variables";
@import "_header";
@import "_main";
@import "_footer";
@import "_grid";

*{
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%;
}

body{
    background-image: url(../img/fondo.jpg);

}



