@import "_variables";
@import "_header";
@import "_main";
@import "_footer";
@import "_grid";

*{
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

body{
    background-image: url(../assets/img/fondodesk.jpg);
}